@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-checkbox .ant-checkbox-inner {
  border: 2px solid #d9d9d9 !important;
}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #00a859 !important;
  border-color: #00a859 !important;
}

.ant-checkbox-group {
  display: grid;
  grid-column: 3;
  grid-row: 3;
  gap: 4;
}
