@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fira+GO:wght@400;700&display=swap");

body {
  font-family: "Fira GO";
}

.custom-checkbox .ant-checkbox-inner {
  border: 2px solid #d9d9d9 !important;
}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #00a859 !important;
  border-color: #00a859 !important;
}

.ant-checkbox-group {
  display: grid;
  grid-column: 3;
  grid-row: 3;
  gap: 4;
}
.ant-modal-content {
  width: 1009px;
  left: -250px;
  justify-content: center !important;
  align-self: center !important;
}
.ant-modal-wrap {
  width: 1920px !important;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}
.ant-modal-title {
  color: #021526;
  display: flex;
  margin-right: 130px !important;
  margin-bottom: 61px !important;
  margin-top: 87px !important;
  justify-content: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.ant-form-item-required {
  color: #021526;
  padding-top: 4px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.reference {
  display: flex;
  color: #021526;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dashed {
  border: 1px dashed #2d3648;
}
.ant-modal-content {
  padding-left: 130px !important;
  justify-content: center !important;
}

.custom-modal .modal-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.custom-modal .modal-form {
  max-width: 600px;
  width: 100%;
}

.upload-container {
  width: 100%;
  max-width: 770px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #d9d9d9;
  border-radius: 8px;
  background-color: #fefefe;
}

.upload-icon {
  width: 24px;
  height: 24px;
}
.ant-input-outlined {
  width: 326px !important;
}
.reference.error p {
  color: red;
}
.upload-container {
  width: 800px !important;
}
.ant-form-item-required {
  width: 200px !important;

  text-wrap: nowrap !important
  ;
}
.ant-form-item-control-input-content {
  display: flex;
  flex-direction: column;
}
.ant-input-outlined {
  width: 386px !important;
  height: 42px !important;
}
.ant-select-selector {
  width: 386px !important;
  height: 42px !important;
}
.area .ant-input-outlined {
  width: 788px !important;
  height: 135px !important;
}
.area .css-dev-only-do-not-override-qnu6hi {
  width: 788px !important;
}
/* .img .css-dev-only-do-not-override-qnu6hi {
  width: 788px !important;
  border: 1px solid red !important;
}
.ant-upload-wrapper img css-dev-only-do-not-override-qnu6hi {
  width: 788px !important;
  border: 1px solid red !important;
}
.img .css-dev-only-do-not-override-qnu6hi {
  width: 788px !important;
  border: 1px solid red !important;
} */
/* .img .css-dev-only-do-not-override-qnu6hi {
  width: 788px !important;
  border: 1px solid red !important;
}
.upload .css-dev-only-do-not-override-qnu6hi {
  border: 1px !important;
} */
